# ── Required ──────────────────────────────────────────────────
BOT_TOKEN=

# ── Guild ─────────────────────────────────────────────────────
GUILD_ID=

# ── Roles ─────────────────────────────────────────────────────
STAFF_ROLE=1519477317930586152
NEW_LINE_ROLE=

# ── Categories ────────────────────────────────────────────────
CAT_MOD=1520935474263359498
CAT_PST=1520935445356089468
CAT_GEN=1520935518052024571
CAT_HOLD=1520935584468697168

# ── Channels ──────────────────────────────────────────────────
TRANSCRIPT_CHANNEL=1520938699637129276
ERROR_CHANNEL=
